INSERT INTO products_new (id, warehouse_id, sku, item_number, product_name, product_url, aisle, bay, is_wrong, updated_at)
SELECT 
  warehouse_id || '_' || CASE 
    WHEN parsed_item IS NOT NULL AND parsed_item != '' THEN 'item_' || parsed_item
    WHEN parsed_sku IS NOT NULL AND parsed_sku != '' THEN 'sku_' || parsed_sku
    ELSE 'name_' || LOWER(HEX(product_name))
  END AS id,
  warehouse_id,
  parsed_sku AS sku,
  parsed_item AS item_number,
  product_name,
  product_url,
  aisle,
  bay,
  is_wrong,
  updated_at
FROM (
  SELECT 
    warehouse_id,
    product_name,
    product_url,
    is_wrong,
    updated_at,
    CASE 
      WHEN LENGTH(TRIM(sku)) >= 5 AND LENGTH(TRIM(sku)) <= 7 AND TRIM(sku) GLOB '[0-9]*' THEN NULL 
      ELSE TRIM(sku) 
    END AS parsed_sku,
    CASE 
      WHEN LENGTH(TRIM(sku)) >= 5 AND LENGTH(TRIM(sku)) <= 7 AND TRIM(sku) GLOB '[0-9]*' THEN TRIM(sku) 
      ELSE NULL 
    END AS parsed_item,
    MAX(aisle) OVER (PARTITION BY warehouse_id, LOWER(TRIM(product_name))) AS aisle,
    MAX(bay) OVER (PARTITION BY warehouse_id, LOWER(TRIM(product_name))) AS bay,
    ROW_NUMBER() OVER (PARTITION BY warehouse_id, LOWER(TRIM(product_name))) as rn
  FROM products
)
WHERE rn = 1;